# Tuples
![](https://scaler.com/topics/images/tuples-in-python.webp)

- Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you.
- One major feature of tuples is that they are **immutable** like strings i.e. you cannot modify tuples.
- Tuples are defined by specifying items separated by commas within an optional pair of parentheses.
- Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used will **not change**.

In [3]:
# ISRO
planets = [
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
]

In [4]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [5]:
# Intern at ISRO
planets[2] = "Tarun's planet"
print(planets)

['Mercury', 'Venus', "Tarun's planet", 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [ ]:
# Immutable - Something that cannot be changed/modified

In [6]:
# ISRO
planets = (
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
)
print(planets, type(planets))

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto') <class 'tuple'>

In [7]:
# Intern at ISRO
planets[2] = "Tarun's planet"
print(planets)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# No updates allowed
# - Cannot append/insert
# - Cannot update
# - Cannot remove

### Important Tuple methods
- index()
- count()
- slicing

In [10]:
t = (2, 3, 10, 'hello', [5, 10], (9, 0, 'ok'), 3)

In [9]:
t[2]

10

In [11]:
t[-1]

3

In [12]:
# First index 
t.index(10)

2

In [13]:
# First index 
t.index(50)

ValueError: tuple.index(x): x not in tuple

In [14]:
t = (2, 2, 4, 2, 6, 9)

In [15]:
t.count(2)

3

In [16]:
# New sliced tuple
t[2:]

(4, 2, 6, 9)

In [17]:
t = (10, 20, 30)
print(t[::-1])

(30, 20, 10)

In [18]:
t = (10, 20, 30)
t = t[::-1]
print(t)

(30, 20, 10)

In [ ]:
# Assigned a new tuple to the variable 't'
# We modified the reference of our variable 't'
# Tuple was not modified

### How to create a tuple
1. Using round brackets
2. Using tuple()
3. Using comma separated values

In [19]:
t = (10, 20, 30)
print(t, type(t))

(10, 20, 30) <class 'tuple'>

In [20]:
l = ["Hello", "How", "are", "you"]
t = tuple(l)
print(t, type(t))

('Hello', 'How', 'are', 'you') <class 'tuple'>

In [22]:
l2 = list("abc")
print(l2)

['a', 'b', 'c']

In [21]:
t2 = tuple("abc")
print(t2, type(t2))

('a', 'b', 'c') <class 'tuple'>

In [23]:
t = (10, 20, 30)
l = list(t)
print(l, type(l))

[10, 20, 30] <class 'list'>

#### Quiz 1
```py
t = ("Sahil")
type(t)
```

In [24]:
t = ("Sahil")
type(t)

str

In [25]:
t = ("Sahil",)
type(t)

tuple

In [26]:
t = ()
print(t, type(t))

() <class 'tuple'>

In [ ]:
t = tuple()

#### Quiz 2
What is the output of the following?

```py
print(type((1,2,3)))
```

In [27]:
print(type((1,2,3)))

<class 'tuple'>

In [28]:
a = (1,2,3)
print(type(a))

<class 'tuple'>

#### Quiz 3
```py
T1 = (1) 
T2 = (3, 4) 
T1 += 5
print(T1)
```

In [31]:
T1 = (1) 
T2 = (3, 4) 
T1 += 5
print(T1, type(T1))

6 <class 'int'>

In [29]:
T1 = (1) 
print(type(T1))

<class 'int'>

#### Quiz 4
```py
t=tuple(range(1, 10, 2))
print(t)
```

In [32]:
t=tuple(range(1, 10, 2))
print(t)

(1, 3, 5, 7, 9)

In [ ]:
start = 1
end = 10 (excluded)
step = 2

1, 3, 5, 7, 9

#### Quiz 5
What is the result of the following expression?

```py
tuple('hello world')
```

In [33]:
tuple('hello world')

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

#### Quiz 6
```py
t = (3, 4, 6, 7, 3)
print(t[::2])
```

In [35]:
t = (3, 4, 6, 7, 3)
print(t[::2])

(3, 6, 3)

## Bonus Reading Material for Tuples
- Data Structures in Python - https://www.scaler.com/topics/data-structures-in-python/
- Tuples in Python - https://www.scaler.com/topics/python/tuples-in-python/
- What is the Difference Between List and Tuple in Python? - https://www.scaler.com/topics/difference-between-list-and-tuple-in-python/
- Convert List to Tuple in Python - https://www.scaler.com/topics/convert-list-to-tuple-python/
- WtfPython: Mutating the immutable! - https://github.com/satwikkansal/wtfpython#-mutating-the-immutable
- WtfPython: Needles in a Haystack - https://github.com/satwikkansal/wtfpython#-needles-in-a-haystack-

In [ ]:
# Break till 10:05 PM

# Sets
![](https://scaler.com/topics/images/set-in-python.webp)

In [38]:
s = {1, 9, 'hello', 0.5, 4, 2, -50, -1000}

In [39]:
print(s, type(s))

{0.5, 1, 2, 4, 9, -50, -1000, 'hello'} <class 'set'>

- Curly brackets
- Unordered data structure
- Unique elements

In [40]:
s = {10, 20, 30, 10, 10, 10, 20, 20, 30, 40}
print(s)

{40, 10, 20, 30}

Internally, set uses "hashing".
Hashing is covered in intermediate & advanced.

In [44]:
# Create an Empty set
s = {}
print(s, type(s))
# This creates a dictionary

{} <class 'dict'>

In [46]:
# Create an Empty set
s = {,}
print(s, type(s))
# This does not work

SyntaxError: invalid syntax (3869395253.py, line 2)

In [45]:
s = set()
print(s, type(s))

set() <class 'set'>

Important methods
- add()
- remove()
- in

In [47]:
s = {10, 20, 30}
s.add(60)
print(s)

{10, 20, 30, 60}

In [48]:
s.add(10)
print(s)

{10, 20, 30, 60}

In [49]:
s = {10, 20, 30, 60}
s.remove(10)
print(s)

{20, 30, 60}

In [50]:
s = {10, 20, 30, 60}
s.remove(100)
print(s)

KeyError: 100

In [51]:
s = {10, 20, 30, 60}
s.remove(20, 30)
print(s)

TypeError: set.remove() takes exactly one argument (2 given)

In [52]:
# Check if a value is present in your set or not
s = {10, 20, 30, 40}
print(10 in s)

True

In [53]:
print(100 in s)

False

In [55]:
x = 25
if x in s:
    print("Value is present in the set")
else:
    print("Value is not present")

Value is not present

### TV Series recommendation
You ask 2 friends for a TV Series recommendation

In [57]:
A = {
    "Breaking Bad",
    "Better Call Saul",
    "Dark"
}

B = {
    "Sherlock",
    "Dark",
    "The Office"
}

In [62]:
# Intersection
C = A & B
# C = A.intersection(B)
# C = B.intersection(A)
print(C)

{'Dark'}

In [65]:
# Union
D = A | B
# D = A.union(B)
# D = B.union(A)
print(D)

{'The Office', 'Breaking Bad', 'Dark', 'Sherlock', 'Better Call Saul'}

In [66]:
# Difference
E = A - B
print(E)

{'Better Call Saul', 'Breaking Bad'}

In [67]:
F = B - A
print(F)

{'The Office', 'Sherlock'}

In [68]:
# Symmetric Difference
G = A ^ B
print(G)

{'The Office', 'Sherlock', 'Better Call Saul', 'Breaking Bad'}

#### Quiz 7
What is the output of the following?
```py
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.union(b))
print(a.intersection(b))
```

In [69]:
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.union(b))
print(a.intersection(b))

{1, 2}
{1, 2, 3, 4, 5}
{3}

#### Quiz 8
What is the value of x in the code snippet below?
```py
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 5, 6, 7}
x = set1 | set2
```

In [71]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 5, 6, 7}
x = set1 | set2
print(x)

{1, 2, 3, 4, 5, 6, 7}

### Count unique
Given an array, count unique elements in it.

In [73]:
def countUnique(arr):
    s = set(arr)
    return len(s)

In [74]:
def countUnique(arr):
    return len(set(arr))

In [72]:
print(set([10, 20, 30, 40, 30, 20, 10, 20, 20]))

{40, 10, 20, 30}

In [76]:
arr1 = [10, 20, 30, 40, 30, 20, 10, 20, 20]
arr2 = [50, 60, 50]

In [77]:
countUnique(arr1)

4

In [78]:
countUnique(arr2)

2

## Bonus Reading Material for Sets
- set() in Python - https://www.scaler.com/topics/set-in-python/
- Sets in Python - https://www.scaler.com/topics/python/sets-in-python/
- Set to List Python - https://www.scaler.com/topics/set-to-list-python/
- Convert List to Set Python - https://www.scaler.com/topics/convert-list-to-set-python/
- frozenset() in Python - https://www.scaler.com/topics/frozenset-in-python/
- Python Set difference() - https://www.scaler.com/topics/python-set-difference/
- union() in Python - https://www.scaler.com/topics/union-in-python/
- intersection() in Python - https://www.scaler.com/topics/intersection-in-python/
- symmetric_difference() Python - https://www.scaler.com/topics/symmetric-difference-python/

# Doubts

In [ ]:
# Wednesday - Dictionaries

In [79]:
s = {10, 20, 30}
s.add(40)

In [80]:
s

{10, 20, 30, 40}

In [81]:
l = [10, 20, 30, 40, 50, -10, -20]
l.append(-1000)
print(l)

[10, 20, 30, 40, 50, -10, -20, -1000]

In [82]:
s = {10, 20, 30, 40, 50, -10, -20}
s.add(-1000)
print(s)

{50, 20, -10, 40, -1000, 10, -20, 30}

In [ ]:
# DSML Common Core - After Intermediate 
# Numpy, torch, pandas etc.

In [83]:
s = [10,10,20,30,20,40]
x = set(s)

print(x)

{40, 10, 20, 30}

In [ ]:
# Sets are unordered

In [ ]:
# Inside sets you can only have immutable data structures
# int, float, str, bool, NoneType, tuple

In [ ]:
# Mutable - Anything that can be modified
# list, set

In [ ]:
# You cannot put a mutable value inside a set

# Why ? - Hashing (Advanced batch)