# Strings 2

In [8]:
 def mystery(s):
    i = len(s)//2 # 3
    a = s[:i] # pra -> [p] -> 
    b = s[i:] # nav
    return a[0].isupper()

In [9]:
print(mystery("pranav"))

False

In [ ]:
str -> "pranav"

In [14]:
def mystery(s):
    i = len(s)//2 # 5
    a = s[:i] # abrac -> ABRAC
    b = s[i:] # adabra
    return a.upper() + b.lower()

In [15]:
print(mystery("abracadabra"))

ABRACadabra

In [ ]:
ABRACadabra

## find()
![](https://scaler.com/topics/images/find-in-python.webp)

In [16]:
s = "Harry Potter and Deathly Hallows"

In [17]:
print(s.find('P')) # return the first occurence index at which it has found the give substring

6

In [18]:
print(s.find('h'))

21

In [19]:
print(s.find('H'))

0

In [21]:
print(s.find('Hal'))

25

In [22]:
print(s.find('Pot'))

6

In [ ]:
# link for find() function in Strings

In [ ]:
# Ques as HW -> find the 2/3rd occurence of a substr or a char

## count()
![](https://scaler.com/topics/images/count-in-python.webp)

In [23]:
s = "Harry Potter and Deathly Hallows"

In [24]:
print(s.count('H'))

2

In [25]:
print(s.count('D'))

1

In [26]:
print(s.count('a'))

4

In [27]:
print(s.count('Harry'))

1

In [28]:
print(s.count('pranav'))

0

In [29]:
print(s.find('pranav'))

-1

### in operator

In [30]:
"P" in "Pranav"

True

In [ ]:
substr in main_str

In [32]:
"ha" in "Harry"

False

In [ ]:
# + <- concat, in -> check if substr exist

In [ ]:
# list of Movies
# you have to exract all the movies which belong to Harry Potter series
# will you use in or Find() ?

In [ ]:
for i in movies:
    if i.find("Harry Potter")!=-1: # instead of -1 if I would've gotten error each time I pass a movie which does not have haryy potter
        print(i)

## Immutable Nature
![](https://scaler.com/topics/images/python-datatypes.webp)

In [33]:
a = "hello"

In [34]:
a+=" World"

In [35]:
print(a)

hello World

In [36]:
a = "hello"

In [37]:
print(id(a))

4400676400

In [38]:
a = a + " World"

In [39]:
print(id(a))

4424371824

In [40]:
a = "hello"

In [41]:
print(id(a))

4400676400

In [42]:
b = "pranav"

In [43]:
print(id(b))

4424440432

In [44]:
b += " Khandelwal"

In [45]:
print(id(b))

4424558992

In [46]:
a = "scaler"

In [47]:
a[1] = 'p'

TypeError: 'str' object does not support item assignment

In [49]:
x = 5
print(id(x))

4303644448

In [50]:
x+=1
print(id(x))

4303644480

In [51]:
val = True
print(id(val))

4303424160

In [52]:
val = False
print(id(val))

4303424896

In [53]:
l = [1,2,3]
print(id(l))

4424673024

In [54]:
l[1] = "Pranav"

In [55]:
print(id(l))

4424673024

## replace()
![](https://scaler.com/topics/images/replace-a-character-in-a-string-python.webp)

In [56]:
a = 6
b = 10
# print sum of a and b

In [58]:
c = a + b
print(c)

16

In [59]:
print(id(a))
print(id(b))
print(id(c))

4303644480
4303644608
4303644800

In [60]:
s = "Harry Potter and Deathly Hallows"

In [61]:
print(s.replace("and","&"))

Harry Potter & Deathly Hallows

In [62]:
s = "one one two two three three one"

In [63]:
print(s.replace("one", "Pranav"))

Pranav Pranav two two three three Pranav

In [64]:
t = s.replace("one", "four")

In [65]:
print(t)

four four two two three three four

In [ ]:
s = "one one two two three three one"

In [70]:
t = s.replace("one", "scaler", 56)
print(t)

scaler scaler two two three three scaler

In [72]:
# quiz
a = "Hello"  
b = a  
a = "Yello"  

print(b)

Hello

In [74]:
# quiz
a = "batman"
b = a
b.replace("b", "c")

print("a->",a)
print("b->",b)

a-> batman
b-> batman

## String to list

In [75]:
s = "hello"
# ['h','e','l','l','o']

In [77]:
val = list(s) # list() takes any iteratable data and convert it to list

In [78]:
print(val)

['h', 'e', 'l', 'l', 'o']

In [81]:
s = "Harry Potter and Deathly Hallows"

In [84]:
val = s.split("and") # whitespace will be part of spilitted data

In [85]:
print(val)

['Harry Potter ', ' Deathly Hallows']

## List to String
![](https://scaler.com/topics/images/convert-list-to-string-in-python.webp)

In [86]:
s = "hello"
# h_e_l_l_o

In [88]:
result = ""

for ch in s:
    result+=(ch + "_")
    
print(result)
result = result[:-1]
print(result)

h_e_l_l_o_
h_e_l_l_o

In [89]:
s = "hello"

In [90]:
val = list(s)

In [91]:
print(val)

['h', 'e', 'l', 'l', 'o']

In [92]:
result = "_".join(val) # join takes a iteratable string values and insert the given string between those values

In [93]:
print(result)

h_e_l_l_o

In [94]:
result = " <-> ".join(val)

In [95]:
print(result)

h <-> e <-> l <-> l <-> o

In [96]:
"-".join(s)

'h-e-l-l-o'

In [97]:
result = "_".join("hello")

In [98]:
print(result)

h_e_l_l_o

In [103]:
val = [str(1),str(2),str(3)]

In [104]:
"_".join(val)

'1_2_3'

In [102]:
str(1) + "_" + str(2) + "_" + str(3)

'1_2_3'

## Reverse words in a string
![](https://scaler.com/topics/images/reverse-words-in-a-string-python.webp)

Quiz

What is the word-by-word reverse of the sentence
"Are you as clever as I am"

Answer:
am I as clever as you Are

In [105]:
s = "Are you as clever as I am"

In [ ]:
output -> "am I as clever as you Are"

In [108]:
s_list = s.split()
print(id(s_list))

4424201856

In [109]:
s_list.reverse()

In [110]:
print(s_list)
print(id(s_list))

['am', 'I', 'as', 'clever', 'as', 'you', 'Are']
4424201856

In [111]:
result = " ".join(s_list)

In [112]:
print(result)

am I as clever as you Are

In [113]:
# String formatting

In [126]:
apple_count = 5 # int
oranges_count = 3 # int
banana_count = 10

In [121]:
s = "I have " + str(apple_count) + " apples and " + str(oranges_count) + " oranges"

In [122]:
print(s)

I have 5 apples and 3 oranges

In [123]:
# .format method

In [129]:
s = "I have {} apples and {} oranges and {} bananas".format(oranges_count, banana_count, apple_count)
print(s)

I have 3 apples and 10 oranges and 5 bananas

In [130]:
# f-string
# Python 3.6 or above

In [132]:
s = f"I have {apple_count} apples and {oranges_count} oranges and {banana_count} bananas"
print(s)

I have 5 apples and 3 oranges and 10 bananas

In [136]:
# quiz
name = 'Emma Watson'
age = 32
print("Hey my name is {}, and my age is {}.".format(name, age))

Hey my name is Emma Watson, and my age is 32.

In [140]:
# https://realpython.com/python-f-strings/

### Convert a string to all uppercase characters without using any inbuilt functions

Input:
```
s = "hELLo"
```

Output:
```
s = "HELLO"
```

In [137]:
# cannot use upper() or lower() or isupper() or islower()

In [138]:
# Hint -> use ACSII Values

# Bonus Reading Material
- What are Mutable Data Types in Python? - https://www.scaler.com/topics/mutable-data-typesg-in-python/
- Mutable and Immutable in Python - https://www.scaler.com/topics/mutable-and-immutable-in-python/
- Replace in Python - https://www.scaler.com/topics/replace-in-python/
- Replace a Character in a String Python - https://www.scaler.com/topics/replace-a-character-in-a-string-python/
- Join in Python - https://www.scaler.com/topics/join-in-python/
- Convert List to String in Python - https://www.scaler.com/topics/convert-list-to-string-in-python/
- Convert List to String in Python - https://www.scaler.com/topics/convert-list-to-string-python/
- Python String find() Method - https://www.scaler.com/topics/find-function-in-python/
- Find in Python - https://www.scaler.com/topics/find-in-python/
- Count in Python - https://www.scaler.com/topics/count-in-python/
- startswith() in Python - https://www.scaler.com/topics/startswith-in-python/
- capitalize() in Python - https://www.scaler.com/topics/capitalize-in-python/
- swapcase() in Python - https://www.scaler.com/topics/swapcase-in-python/
- partition() in Python - https://www.scaler.com/topics/partition-in-python/
- Strip Function in Python - https://www.scaler.com/topics/strip-function-in-python/
- Lexicographical order in Python - https://www.scaler.com/topics/lexicographical-order-in-python/
- Sort a String in Python - https://www.scaler.com/topics/sort-a-string-in-python/
- Remove Whitespace From String - https://www.scaler.com/topics/remove-whitespace-from-string/
- Reverse Words in a String Python - https://www.scaler.com/topics/reverse-words-in-a-string-python/
- Reverse Words in a String - https://www.scaler.com/topics/reverse-words-in-a-string/
- Substring in Python - https://www.scaler.com/topics/substring-in-python/
- Remove Punctuation from String Python - https://www.scaler.com/topics/remove-punctuation-from-string-python/

# Doubts

In [144]:
val = ["101", "102", "204", "305", "307","409","477", "203"]

In [145]:
for i in val:
    if i.find("3")!=-1:
        print(i)

305
307
203

In [146]:
# count

In [147]:
s = "Harry Potter and Deathly Hallows"

In [150]:
print(s.count("a")) # returns the no. of occurence of substr

4