# Python Refresher

In [1]:
print("Hello world")

Hello world

In [ ]:
# Data types
- int
- str
- float
- bool
- NoneType

In [2]:
a = 5
# int
print(a, type(a))

5 <class 'int'>

In [3]:
print(type(4.6))

<class 'float'>

In [4]:
print(type('python'))

<class 'str'>

In [5]:
print(type(None))

<class 'NoneType'>

In [6]:
print(type(True), type(False))

<class 'bool'> <class 'bool'>

In [ ]:
# How to check whether a given variable holds an integer ?

In [8]:
a = 10
# a = 'python'

if type(a) == int:
    print("a is an integer")
else:
    print("a is not an integer")

a is an integer

In [9]:
a = 10

# if a is an int
if isinstance(a, int):
    print("a is an integer")
else:
    print("a is not an integer")

a is an integer

### Quiz
isinstance(4.0, int)

In [10]:
isinstance(4.0, int)

False

In [11]:
b = 4.0
print(b, type(b))

4.0 <class 'float'>

In [13]:
isinstance(4.0, (int, float))

True

In [14]:
a = 10

print(id(a))

4366117456

id() gives you the memory address location of where the object is stored

In [16]:
a = 10
b = a

print(id(a))
print(id(b))

4366117456
4366117456

#### Quiz 2
```py
a = "python"
b = "python"
print(id(a) == id(b))
```

In [17]:
a = "python"
b = "python"
print(id(a) == id(b))

True

In [ ]:
Strings -> Immutable

In [19]:
a = "hello"
b = a

b += ' world'

print(a) # hello
print(b) # hello world

print(id(a) == id(b))

hello
hello world
False

In [22]:
i = 0 # Initialization

# condition
while i < 5:
    print(i, end=' ') # body of loop
    i += 1 # update

0 1 2 3 4

In [21]:
# 0, 1, 2, 3, 4
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
"""
range(start, end, inc)
# default start = 0
# default inc = 1
# end is EXCLUDED
"""

In [23]:
print(list(range(-1, 11, 2)))

[-1, 1, 3, 5, 7, 9]

In [24]:
def greet():
    print("Hello")
    print("how are you doing ?")

In [25]:
greet()
greet()
greet()

Hello
how are you doing ?
Hello
how are you doing ?
Hello
how are you doing ?

In [26]:
def add(a, b):
    return a + b


c = add(10, 20) # c = 30
d = add(50, 60) # d = 110

In [27]:
print(c)

30

In [28]:
print(d)

110

In [29]:
e = c + d
print(e)

140

In [33]:
def random():
    return 10, 'hello', 30
    
# Can we return multiple values from a function ?
# Answer = no
# You can only and only return one value

In [34]:
x = random()
print(x)

(10, 'hello', 30)

In [32]:
a = 10, 'hello', 30
print(a, type(a))

(10, 'hello', 30) <class 'tuple'>

In [35]:
def my_func(a, b, c, d):
    print(a, b, c, d)

my_func(4, 'hello', d=2.1, c='ok')

4 hello ok 2.1

In [ ]:
a -> 4      positional arguments
b -> hello  positional arguments
d -> 2.1    keyword arguments
c -> ok     keyword arguments

In [36]:
for x in range(10, 20):
    pass

In [38]:
it = iter(range(10, 20))
# iter() gives you the iterator
print(it)

<range_iterator object at 0x10b4256f0>

In [39]:
it2 = iter("abcdef")
print(it2)

<str_iterator object at 0x10b4252b0>

In [40]:
it3 = iter([10, 20, 'ok'])
print(it3)

<list_iterator object at 0x10b4254c0>

In [41]:
it = iter("abcdef")
print(it)

<str_iterator object at 0x10b425280>

In [42]:
next(it)

'a'

In [43]:
next(it)

'b'

In [44]:
next(it)

'c'

In [45]:
next(it)

'd'

In [46]:
next(it)

'e'

In [47]:
next(it)

'f'

In [48]:
next(it)

StopIteration:

In [ ]:
reload if you cannot hear me
Ctrl + Shift + R (Hard refresh)
Make sure you have not muted me. Check on a youtube video.

In [49]:
iter(10)

TypeError: 'int' object is not iterable

In [53]:
l = [10, 20, [30, 40], 'hello', True, None, 35]
print(l, type(l))

[10, 20, [30, 40], 'hello', True, None, 35] <class 'list'>

In [54]:
l[1]

20

In [55]:
l[-1]

35

In [56]:
l = [10, 2, 5, 3, 6]  
l[0:5:2]

[10, 5, 6]

In [57]:
nums = [1, 1, 2, 3, 5, 8, 13]  
nums[-5:-2]

[2, 3, 5]

In [58]:
l = [2, 4, 5, 7, 8]  
print(l[-3:])

# start = -3
# default inc = 1 (left to right)

[5, 7, 8]

## Comprehension

Create a list of squares of all numbers from 1 to 10

In [ ]:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
l = []
for i in range(1, 11):
    l.append(i * i)
    
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
l = [i*i for i in range(1, 11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
# if x is even -> cubes it
# if x is odd -> squares it
def random(x):
    if x % 2 == 0:
        return x ** 3
    else:
        return x ** 2
    
l = [random(i) for i in range(1, 11)]
print(l, type(l))

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000] <class 'list'>

In [63]:
# if x is even -> cubes it
# if x is odd -> squares it
def random(x):
    if x % 2 == 0:
        return x ** 3
    else:
        return x ** 2
    
l = {random(i) for i in range(1, 11)}
print(l, type(l))

{64, 1, 512, 8, 9, 1000, 49, 81, 216, 25} <class 'set'>

In [67]:
# if x is even -> cubes it
# if x is odd -> squares it
def random(x):
    if x % 2 == 0:
        return x ** 3
    else:
        return x ** 2
    
l = tuple(random(i) for i in range(1, 11))
print(l, type(l))

(1, 8, 9, 64, 25, 216, 49, 512, 81, 1000) <class 'tuple'>

In [68]:
# dictionary
# key -> value

In [73]:
# tuple of tuples
t = (
    ('Clark Kent', "Superman"),
    ('Bruce Wayne', "Batman"),
    ('Diana Prince', "Wonder Woman") 
)

# real:title
d = {real:title for real,title in t}
print(d)

{'Clark Kent': 'Superman', 'Bruce Wayne': 'Batman', 'Diana Prince': 'Wonder Woman'}

In [ ]:

# for real,title in t:
#     print("real = ", real)
#     print("title = ", title)
#     print()

# Reading Material
- https://www.scaler.com/topics/id-function-in-python/
- https://www.scaler.com/topics/isinstance-in-python/
- https://www.scaler.com/topics/python/iterators-in-python/
- https://www.scaler.com/topics/python/comprehensions-in-python/
- https://www.scaler.com/topics/list-comprehension-in-python/
- https://www.scaler.com/topics/dictionary-comprehension-python/

# Doubts

In [74]:
def square(x):
    return x ** 2


y = square(10) # 100

In [75]:
z = square(3) # 9

In [76]:
a = y + z # 100 + 9 = 109

In [77]:
print(a)

109