# OOPS 2

In [ ]:
class Bill():
    def __init__(self, prev_read, cur_read):
        self.prev = prev_read
        self.curr = cur_read
        
        
        
    def total_bill(self):
        total=0.0
        x = 0
        y = 10
        z = 30
        
        if 
        
        return total

In [ ]:
b = Bill(200, 650)
print(b.total_bill())

## Using dunder methods

In [3]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
        
c1 = Car("BMW", 12)
c2 = Car("Lamborghini", 10)

In [4]:
print(c1.name)

BMW

In [5]:
print(c1)

<__main__.Car object at 0x107b27850>

In [6]:
print(c2)

<__main__.Car object at 0x107b27f70>

In [ ]:
# What if I wish to change the output of printing an object ?

In [11]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
        
    def __str__(self):
        return f"Hello I am {self.name}"
        
c1 = Car("BMW", 12)
c2 = Car("Lamborghini", 10)

print(c1) # Hello I am BMW
print(c2) # Hello I am Lamborghini

Hello I am BMW
Hello I am Lamborghini

In [12]:
print(c1 + c2)
# Python has no idea how to + two objects of class Car

TypeError: unsupported operand type(s) for +: 'Car' and 'Car'

In [ ]:
# I want c1 + c2 to give me the sum of their mileages
# 10 + 12 = 22

In [15]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
        
    def __str__(self):
        return f"Hello I am {self.name}"
    
    def __add__(self, secondCar: Car):
        return self.mileage + secondCar.mileage
        
c1 = Car("BMW", 12)
c2 = Car("Lamborghini", 10)

print(c1 + c2) # 22
# Equivalant to writing
print(Car.__add__(c1, c2))

22
22

### Homework
Figure out how to handle

```py
c1 + c2 + c3
```

In [16]:
l = [1, 2, 3]

In [17]:
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## Inheritance

In [20]:
# Parent Class
class Vehicle:
    def __init__(self, seats, wheels):
        self.seats = seats
        self.wheels = wheels
        
    def __str__(self):
        return f"Wheels = {self.wheels}, Seats = {self.seats}"

In [21]:
# This is a child of 'Vehicle'
class Car(Vehicle):
    def __init__(self, seats, wheels, gear):
        super().__init__(seats, wheels)
        self.gear = gear

In [22]:
c1 = Car(4, 4, 6) # normal car
c2 = Car(1, 4, 8) # f1 car

print(c1)
print(c2)

Wheels = 4, Seats = 4
Wheels = 4, Seats = 1

In [23]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, grade):
        super().__init__(name)
        self.grade = grade
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary
        
class Teacher(Staff):
    def __init__(self, name, salary, subject):
        super().__init__(name, salary)
        self.subject = subject

In [24]:
t = Teacher("Tarun", 5, "Python")

## Private Properties

In [3]:
class Bank:
    def __init__(self, balance):
        self.balance = balance
        
    def read_balance(self):
        return self.balance
    
    def withdraw(self, amount):
        self.balance -= amount
        
    def deposit(self, amount):
        self.balance += amount

In [5]:
b = Bank(1000)
b.withdraw(200)
print(b.read_balance()) # 800

# New coder writes the following line
b.balance = 912345793824578902345793802457

b.deposit(500)
print(b.read_balance()) # 1300

800
912345793824578902345793802957

In [ ]:
We can restrict the access (somewhat) by using the private properties

In [6]:
class Bank:
    def __init__(self, balance):
        self.__balance = balance
        
    # Getter
    def read_balance(self):
        return self.__balance
    
    # Setter
    def withdraw(self, amount):
        self.__balance -= amount
        
    # Setter
    def deposit(self, amount):
        self.__balance += amount

In [7]:
b = Bank(1000)
b.withdraw(200)
print(b.read_balance()) # 800

# New coder writes the following line
b.__balance = 912345793824578902345793802457

b.deposit(500)
print(b.read_balance()) # 1300

800
1300

In [10]:
# These is no such true 'private' property in Python

b2 = Bank(500)
dir(b2)

print(b2._Bank__balance)

b2._Bank__balance = 20

print(b2._Bank__balance)

500
20

## Order of invocation
In what order will the `init` methods **complete** their execution ?

In [14]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, grade):
        super().__init__(name)
        self.grade = grade
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary
        
class Teacher(Staff):
    def __init__(self, name, salary, subject):
        super().__init__(name, salary)
        self.subject = subject
        
t = Teacher("Tarun", 5, "Python")
print(Teacher.__mro__) # Method Resolution Order

(<class '__main__.Teacher'>, <class '__main__.Staff'>, <class '__main__.SchoolMember'>, <class 'object'>)

## Multiple Inheritance

In [15]:
class A:
    x = 10
    
class B(A):
    pass

class C(B):
    pass

class D(A):
    x = 5
    
class E(C, D):
    pass


e1 = E()
print(e1.x)

5

In [16]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

#### Quiz 1
```py
class A:
    def __init__(self, name):
        self.name = name

a1 = A("Bunty")
a2 = A("Babli")

print(id(a1) == id(a2))
```

In [17]:
class A:
    def __init__(self, name):
        self.name = name

a1 = A("Bunty")
a2 = A("Babli")

print(id(a1) == id(a2))

False

In [18]:
print(a1)
print(a2)

<__main__.A object at 0x107f3ba60>
<__main__.A object at 0x107f3b0a0>

### Quiz 2
```py
class Random:
    def __init__(self, a = "Is it possible?"):
        self.a = a

    def display(self):
        print(self.a)

r = Random()
r.display()
```

In [19]:
class Random:
    def __init__(self, a = "Is it possible?"):
        self.a = a

    def display(self):
        print(self.a)

r = Random()
r.display()

Is it possible?

### Quiz 3
```py
class A:
    def do_something(self):
        print("I do something!")

class B(A):
    def do_something(self):
        super().do_something()
        print("I also do something!")

b = B()
b.do_something()
```

In [21]:
class A:
    def do_something(self):
        print("I do something!")

class B(A):
    def do_something(self):
        super().do_something()
        print("I also do something!")

b = B()
b.do_something()

I do something!
I also do something!

In [22]:
print(b)
# Will call __str__ internally.

<__main__.B object at 0x107f2b400>

## Reading Material
- https://www.scaler.com/topics/python/inheritance-in-python/
- https://www.scaler.com/topics/python-private-variables/
- https://www.scaler.com/topics/python-dunder-methods/

# Doubts

In [41]:
class A:
    def __init__(self, x):
        self.x = x
        
    def hello(self):
        print("Hello from class A")
        
class B(A):
    def __init__(self, x, y):
        super().__init__(x)
        self.y = y
        
class C(B):
    def __init__(self, x, y, z):
        A.__init__(self, x)
        self.y = y
#         super().__init__(x, y)
        self.z = z
        
    def hello(self):
        super().hello()
        print("Hello from class C")
        
c = C(10, 20, 30)
print(c.x, c.y, c.z)

c.hello()

10 20 30
Hello from class A
Hello from class C