# Recap

#### Quiz 1
```py
i = 0
j = 0
while i <= 2:
    if j%2:
        j += 1
    print(i, ":", j, end=" ")
    i+=1
    j+=1
```

In [1]:
i = 0
j = 0
while i <= 2:
    if j%2:
        j += 1
    print(i, ":", j, end=" ")
    i+=1
    j+=1

0 : 0 1 : 2 2 : 4

## Ranges
![](https://scaler.com/topics/images/range-function-in-python.webp)

#### Quiz 2
How many numbers are included in the below range?  
`range(11)`

In [2]:
print(list(range(11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
print(list(range(5)))

[0, 1, 2, 3, 4]

#### Quiz 3
```py
print(list(range(7, 8)))
```

In [4]:
print(list(range(7, 8)))

[7]

#### Quiz 4
```py
print(list(range(8, 8)))
```

In [5]:
print(list(range(8, 8)))

[]

## Third parameter in range()

#### Quiz 5
How many numbers are included in the below range?  
```py
range(1, 11, 2)
```

In [6]:
print(list(range(1, 11, 2)))

[1, 3, 5, 7, 9]

#### Quiz 6
What range can NOT be used to generate these numbers: `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`?

In [7]:
# Option 1
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# Option 2 - Correct answer
print(list(range(1, 10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# Option 3
print(list(range(1, 11, 1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Quiz 7
Which of the options is NOT correct for the range:
```py
range(5, 1)
```

In [10]:
print(list(range(5, 1)))

[]

In [11]:
print(list(range(5, 1, -1)))

[5, 4, 3, 2]

In [12]:
print(list(range(10, 1, -3)))

[10, 7, 4]

In [13]:
print(list(range(10, -5, -3)))

[10, 7, 4, 1, -2]

In [14]:
print(list(range(12, 0, -3)))

[12, 9, 6, 3]

In [15]:
print(list(range(11, 0, -3)))

[11, 8, 5, 2]

In [16]:
print(list(range(8, -1, -1)))

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [17]:
print(list(range(5, -1, -1)))

[5, 4, 3, 2, 1, 0]

In [18]:
print(list(range(5)))
# start = 0
# end = 5 (given)
# inc = 1

[0, 1, 2, 3, 4]

In [19]:
print(list(range(-5)))
# start = 0
# end = -5 (given)
# inc = 1

[]

# For loops
![](https://scaler.com/topics/images/for-loop-in-python.webp)

In [20]:
print(list(range(5)))
# start = 0
# end = 5 (given)
# inc = 1

[0, 1, 2, 3, 4]

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

#### Quiz 8
Predict the output given input N = 5.
```py
N = int(input())

for i in range(2, N):
    print(i, end=' ')
```

In [23]:
N = int(input())

for i in range(2, N):
    print(i, end=' ')
    
# start = 2
# end = 5
# inc = 1 (default)

5
2 3 4

### Print numbers 1 to 10

In [25]:
# start = 1
# end = 11
# inc = 1 (default)
# range = range(1, 11)

for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

### Print numbers 1 to N

In [28]:
N = int(input())

for i in range(1, N+1):
    print(i, end=' ')

30
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

### Print perfect squares of numbers from 1 to N

In [31]:
N = 50

for i in range(1, N+1):
    print(i * i, end=' ')

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500

#### Quiz 9
Predict the output.
```py
for i in range(-1, 10, 2):
    print(i, end=' ')
```

In [32]:
for i in range(-1, 10, 2):
    print(i, end=' ')
    
# -1, 1, 3, 5, 7, 9

-1 1 3 5 7 9

### Print multiples of 4 till N

N = 20 -> 4, 8, 12, 16, 20

In [34]:
N = 30

for i in range(4, N+1, 4):
    print(i, end=' ')

4 8 12 16 20 24 28

### Print 6 to 1

In [35]:
for i in range(6, 0, -1):
    print(i, end=' ')

6 5 4 3 2 1

#### Quiz 10
Predict the output given input N = 7.

```py
N = int(input())

for i in range(N, 1, -1):
    print(i, end=' ')
```

In [36]:
N = int(input())

for i in range(N, 1, -1):
    print(i, end=' ')
    
# start = N = 7
# end = 1
# inc = -1
# 7, 6, 5, 4, 3, 2

7
7 6 5 4 3 2

### Print N to 1

In [41]:
N = int(input())

# start = N
# end = 0
# inc = -1
for i in range(N, 0, -1):
    print(i, end=' ')

5
5 4 3 2 1

### Print perfect squares of numbers from N to 1

N = 5 \
25 16 9 4 1

In [43]:
N = 10

for i in range(N, 0, -1):
    print(i ** 2, end=' ')

100 81 64 49 36 25 16 9 4 1

#### Quiz 11
For the values of `i` below print the values of `N - i + 1` given `N = 6`.
\
`i: ` 1, 2, 3, 4, 5, 6

N = 6
```py
for i in range(1, N+1):
    print(N - i + 1)
```

**Challenge**\
Try using the result from above quiz to print numbers from N to 1 but using a increasing loop.

Submit the answer in question titled "From down to top" in your assignment

### Quiz 13
```py
N = 7
s = 0
for i in range(2, N):
    s += i
print(s)
```

In [44]:
N = 7
s = 0
for i in range(2, N):
    s += i
print(s)

20

In [ ]:
2,3,4,5,6

### Sum of even numbers from 1 to N
![](https://scaler.com/topics/images/sum-of-first-n-even-numbers-fi.webp)

In [45]:
N = 10
# 2 + 4 + 6 + 8 + 10

s = 0
for i in range(2, N+1, 2):
    s += i
print(s)

30

### Sum of odd numbers from 1 to N

In [48]:
N = 11
# 1 + 3 + 5 + 7 + 9 + 11

s = 0
for i in range(1, N+1, 2):
    s += i
print(s)

36

# Bonus Reading Material
- Range Function in Python - https://www.scaler.com/topics/range-function-in-python/
- For Loop in Python - https://www.scaler.com/topics/python/for-loop-in-python/
- Sum of First n Even Numbers - https://www.scaler.com/topics/sum-of-first-n-even-numbers/
- Sum of Digits of a Number in Python - https://www.scaler.com/topics/sum-of-digits-of-a-number-in-python/
- Sum of n Natural Numbers in Python - https://www.scaler.com/topics/sum-of-n-natural-numbers-in-python/
- Sum of First N Natural Numbers - https://www.scaler.com/topics/sum-of-n-natural-numbers/

# Doubts

In [49]:
r = range(1, 5)

for i in r:
    print(i, end=' ')

1 2 3 4