# Pattern Problems

#### Quiz 1:
Outer loop = ? \
Inner loop = ?

### Stair Pattern
Given N = 5, print the following pattern
```
*
**
***
****
*****
```

In [1]:
N = 5

for i in range(1, N+1):
    # In each row, print i stars
    for j in range(i):
        print("*", end='')
    
    # After each row, print new line
    print()

*
**
***
****
*****

### Inverted Stair Pattern
Given N = 5, print the following pattern
```
*****
****
***
**
*
```

In [5]:
N = 10
for i in range(1, N+1):
    # In each row, print N - i + 1 stars
    for j in range(N - i + 1):
        print("*", end='')
    print()

**********
*********
********
*******
******
*****
****
***
**
*

### Pattern with Spaces
Given N = 5, print the following pattern
```
*___*
*___*
*___*
*___*
*___*
```

In [10]:
N = 5

for i in range(1, N+1):
    print("*", end='')
    for j in range(N-2):
        print("_",end='')
    print("*")

*___*
*___*
*___*
*___*
*___*

### Mirror Stair Pattern
Given N = 5, print the following pattern
```
    *
   **
  ***
 ****
*****
```

In [13]:
N = 8

for i in range(1, N+1):
    # N-i spaces
    for j in range(N-i):
        print(" ",end='')
    # i stars
    for j in range(i):
        print("*",end='')
    
    print()

       *
      **
     ***
    ****
   *****
  ******
 *******
********

#### Quiz 2
**Mirror Stair Pattern:** \
What is the number of spaces at the starting of each row ? \
Take row numbers as i = 1, 2, 3 ... \
Example: N = 5 
```
    *
   **
  ***
 ****
*****
```

### Pyramid Pattern
For N = 5, print the following pyramid pattern
```
     *
    ***
   *****
  *******
 *********
```

In [16]:
N = 10

for i in range(1, N+1):
    # N - i spaces
    for j in range(N-i):
        print(" ",end='')
        
    # 2i-1 stars
    for j in range(2*i - 1):
        print("*", end='')
    
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

#### Quiz 3
**Pyramid Pattern:** \
What is the number of stars printing in each row ? \
Take row numbers as i = 1, 2, 3 ... \
Example: N = 5
```
     *
    ***
   *****
  *******
 *********
```

### Upper Diamond
Given N = 5, print the following pattern
```
********** // 0 spaces
****__**** // 2 spaces
***____*** // 4 spaces
**______** // 6 spaces
*________* // 8 spaces
```

In [18]:
N = 10

for i in range(1, N+1):
    # N - i + 1 stars
    for j in range(N - i + 1):
        print("*", end='')
    
    # 2i - 2 spaces
    for j in range(2*i - 2):
        print(" ",end='')
        
    # N - i + 1 stars
    for j in range(N - i + 1):
        print("*", end='')
    
    print()

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *

#### Quiz 5
**Upper Diamond Pattern** \
What is the no of spaces in between for each row ?  \
Take row numbers as i = 1, 2, 3 ... \
Example: N = 5
```
********** // 0 spaces
****__**** // 2 spaces
***____*** // 4 spaces
**______** // 6 spaces
*________* // 8 spaces
```

### Lower diamond
Given N = 5, print the following pattern
```
*________* // 8 spaces
**______** // 6 spaces
***____*** // 4 spaces
****__**** // 2 spaces
********** // 0 spaces
```

In [20]:
N = 10

for i in range(1, N+1):
    # i stars
    for j in range(i):
        print("*", end='')
        
    # 2N - 2i spaces
    for j in range(2*N - 2*i):
        print(" ", end='')
        
    # i stars
    for j in range(i):
        print("*", end='')
        
    print()

*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************

In [21]:
N = 10

# Upper diamond
for i in range(1, N+1):
    # N - i + 1 stars
    for j in range(N - i + 1):
        print("*", end='')
    
    # 2i - 2 spaces
    for j in range(2*i - 2):
        print(" ",end='')
        
    # N - i + 1 stars
    for j in range(N - i + 1):
        print("*", end='')
    
    print()
    
    
# Lower diamond
for i in range(1, N+1):
    # i stars
    for j in range(i):
        print("*", end='')
        
    # 2N - 2i spaces
    for j in range(2*N - 2*i):
        print(" ", end='')
        
    # i stars
    for j in range(i):
        print("*", end='')
        
    print()

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *
*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************

### Hollow Triangle
**N = 6**
```
******
*___*
*__*
*_*
**
*
```

In [25]:
N = 6

# Pattern A
for i in range(N):
    print("*", end='')
print()

# Pattern B
for i in range(1, N-1):
    # Print 1 star
    print("*", end='')
    
    # Print N-i-2 spaces
    for j in range(N-i-2):
        print(" ", end='')
    
    # Print 1 star
    print("*")

# Pattern C
print("*")

******
*   *
*  *
* *
**
*

# Doubts

In [28]:
N = 5

for i in range(1, N+1):
    # In each row, print i-1 stars with spaces
    for j in range(i-1):
        print("* ", end='')
    
    print("*",end='')
    
    # After each row, print new line
    print()

*
* *
* * *
* * * *
* * * * *

In [29]:
N = 5

for i in range(1, N+1):
    # In each row, print i stars with spaces
    for j in range(i):
        if j == i-1:
            print('*', end='')
        else:
            print("* ", end='')

    # After each row, print new line
    print()

*
* *
* * *
* * * *
* * * * *